<ion-header>
  <ion-toolbar>
    <ion-title>
      Pesquisa de Endereço
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">LOCADORA</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list>
      <ion-item>
        <ion-label>CPF</ion-label>
        <ion-input type="text" [(ngModel)]="cpfDigitado"></ion-input>
        <ng-container *ngIf="cpfInvalido; else cpfValido">
          <ion-text color="danger">
            CPF inválido.
          </ion-text>
        </ng-container>

        <ng-template #cpfValido>
          <ion-text color="success">
            CPF válido.
          </ion-text>
        </ng-template>

      </ion-item>

      <ion-item>
        <ion-label [(ngModel)]="nome">Nome: </ion-label>
        <ion-input type="text"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label [(ngModel)]="tel">Telefone: </ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label [(ngModel)]="cel">Celular: </ion-label>
        <ion-input type="tel"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>CEP: </ion-label>
        <ion-input type="text" [(ngModel)]="cepValue"></ion-input>
      </ion-item>
      <ion-card *ngIf="cepInfo">
        <ion-item>
          <ion-label>Logradouro:</ion-label>
          <ion-input type="text">{{cepInfo.street}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Municipio:</ion-label>
          <ion-input type="text">{{cepInfo.city}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Bairro: </ion-label>
          <ion-input type="text">{{cepInfo.neighborhood}}</ion-input>
        </ion-item>

        <ion-item>
          <ion-label>UF: </ion-label>
          <ion-input type="text">{{cepInfo.state}}</ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Número: </ion-label>
          <ion-input type="number"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Complemento: </ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
      </ion-card>

    </ion-list>
    <ion-button expand="block" (click)="cadastra()">cadastrar</ion-button>
    <ion-button expand="block" (click)="cancela()">cancelar</ion-button>

  </div>

</ion-content>