

ion-header {
  ion-toolbar {
    ion-title {
      font-size: 2em;
      text-align: center;
    }
  }

  ion-toolbar:first-child {
    --min-height: 3.5em;
  }
}

#container {
  ion-list {
    ion-item {
      ion-label {
        font-weight: bold;
      }
      ion-input {
        font-size: 1.1em;
      }
    }

    ion-card {
      ion-item {
        ion-label {
          font-weight: bold;
        }
        ion-input {
          font-size: 1.1em;
        }
      }
    }
  }

  ion-grid {
    ion-row {
      ion-col {
        ion-button {
          --border-radius: 1em;
          --background: #fff;
          --color: #fff;
          --box-shadow: 2px 2px 4px #ccc;
          font-weight: bold;
          font-size: 1.1em;

          &:hover {
            --background: #fff;
            --color: #fff;
          }
        }
      }
    }
  }
}
